@font-face {
    font-family: 'BigPartyBlue';
    src: url('../../public/fonts/bigparty4blue/BigParty4Blue.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'BigPartyGreen';
    src: url('../../public/fonts/bigpartyo2green/BigPartyO2Green.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Catgirl';
    src: url('../../public/fonts/catgirl-system-font/CatgirlSystemFont-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'GraffitiStream';
    src: url('../../public/fonts/graffiti-stream-extrude/Graffiti Stream Extrude.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'GrindyBrush';
    src: url('../../public/fonts/grindy-brush/Grindy Brush.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'IslandSplash';
    src: url('../../public/fonts/island-splash-demo/Island Splash Demo.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'StormGust';
    src: url('../../public/fonts/storm-gust/Storm Gust.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'SudegnakRed';
    src: url('../../public/fonts/sudegnakno4/SudegnakNo4-Red.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SuperBalloon';
    src: url('../../public/fonts/super-balloon/SuperBalloon-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Jacatra';
    src: url('../../public/fonts/the-jacatra/THE_JACATRA.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'CoralPixels';
    src: url('../../public/fonts/coral-pixels/CoralPixels-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Eddie';
    src: url('../../public/fonts/eddie/eddie.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Fanzine';
    src: url('../../public/fonts/fanzine/fanzine.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'FetteUNZFraktur';
    src: url('../../public/fonts/fette-unz-fraktur/FetteUNZFraktur.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gunmetal';
    src: url('../../public/fonts/gunmetal/gunmetl.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'PixelFJ8pt1';
    src: url('../../public/fonts/pixelfj8pt1/pixelFJ8pt1__.TTF') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'SeniorService';
    src: url('../../public/fonts/senior-service/Senior Service.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'WhimzeeArt';
    src: url('../../public/fonts/whimzee/whimzee.ttf');
    font-display: swap;
}
